
.container {
    width: 100vw;
    margin: 50px auto;

}
.contact-header{
    width: 100%;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 50px;
    border-bottom: 2px dotted;
    
}
.header-message{
    padding: 20px;
}

.contact-body{
    display: flex;
    margin-top: 50px;
}
.address {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.inner-address{
    margin-bottom: 20px;
    min-height: 70px;
}
.phone {
   margin-bottom: 0px;
}
.fas {
    font-size: 25px;
    margin-bottom: 10px;
    color:  rgb(60, 212, 212,1);
    float: left;
    margin-left: 50px;
}
p{
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.input > input {
    width: 90%;
}
.input-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.last-name {
  display: flex;
  justify-content: flex-end;

}
.input-email {
    width: 100%;
    margin-bottom: 20px;
}
.input-email > input{
    width: 100%;

}

.input-msg{
    width: 100%;
    margin-bottom: 20px;
}
.input-msg > textarea{
    width: 100%;
    height: 120px;
}
input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  margin: 5px 1px 3px 0px;
  border: 1px solid  lightgrey;
  background: none;
  border-radius: 10px;
  padding: 10px 20px;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgb(81, 227, 238);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.sent-btn{
    background: rgb(143, 235, 235,1);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.sent-btn:hover{
    background: #fff;
    color:  #8febeb;
  }
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a9aacd;
  }
::-moz-placeholder {
    /* Firefox 19+ */
    color: #a9aacd;
  }
:-ms-input-placeholder {
    /* IE 10+ */
    color: #a9aacd;
  }

  input[type=text]:focus::-webkit-input-placeholder {
    color:transparent;
  }
  input[type=text]:focus::-moz-placeholder {
    color:transparent;
  }
  input[type=text]:focus::-ms-input-placeholder {
    color:transparent;
  }
  textarea:focus::-webkit-input-placeholder {
    color:transparent;
  }
  textarea:focus::-moz-placeholder {
    color:transparent;
  }
  textarea:focus::-ms-input-placeholder {
    color:transparent;
  }
  .inner-social{
      margin: 20px auto 50px auto;
  }
  
  .inner-social .fab {
    margin: 0 20px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .inner-social a{
    text-decoration: none;
    color: black;
  }
  .fab:hover{
    color:grey;
  }
  @media screen and (max-width: 640px) {
    .input-name {
      flex-direction: column;
    }
    .input:first-child > input {
      margin-bottom: 20px;
    }
    .form .input > input {
      width: 100% !important;
    }
  }

  hr {
    width: 70%;
    color: black;
  }
   
