*{
    box-sizing: border-box;
}
.gallery-container {
    margin: 20px auto ;
    width: 80vw;
    z-index: 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .col {
    padding: 0px 10px;
  }
  
  .col img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    border-radius: 5px;
  }

   .col img:hover {
    filter:grayscale(100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-7px);
    
  }

  @media screen and (max-width: 992px) {
    .col {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }