body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgba(238, 238, 238, 0.3);
    font-family: 'Poppins', sans-serif;
}
/* navbar*/
.nav-container {
    background: rgba(63, 191, 191, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}
.nav-elements {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-elements li {
    position: relative;
    list-style: none;
}
.nav-elements a {
    color: white;
    text-decoration: none;
    
    font-size: 14px;
    letter-spacing: 3px;
}
.logo {
    width: 200px;
    height: 40px;
    margin-left: 20px;
}
.logo img {
    width: 100%;
    height: auto;
}
.burger-menu div{
    width: 20px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger-menu {
    display: none;
    cursor: pointer;
    margin-right:10px;
}
@media screen and (max-width: 992px) {
    .nav-elements{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    
    .nav-elements{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:  rgba(63, 191, 191);
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }
    .nav-elements li{
        margin-top: 10px;
        opacity: 0;
    }
    .nav-elements a::before{
        visibility: hidden;
    }
    .burger-menu {
        display: block;}
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navElementsFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
 
.nav-elements a:hover,
.nav-elements a.active {
    color: aquamarine;
}

.nav-elements a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
    margin-top: -15px;
}
.nav-elements a:hover::before {
    width: 100%;
}

/* SOCIAL MEDIA */
.social-media {
    width: 100%;
    height: 120px;
    background-color: #f5f5f5;
  }
  
  .social-media .content-social {
    width: 75%;
    margin: auto;
  }
  
  .social-media .content-social .about-page h3 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .social-media .content-social .about-page {
    float: left;
    margin-left: 20%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
  }
  
  
  
  .social-media .content-social .social-media-button {
    float: right;
    margin-right: 10%;
  }
  
  .social-media .content-social ul li {
    display: inline-block;
  }
  
  .social-media .content-social ul li a {
   font-size: 25px;
   margin-left: 10px;
   color: #000; 
  }
  
  .social-media .content-social ul li a:hover {
   color: #737373; 
  }
  /* END SOCIAL MEDIA */
  
  /* FOOTER*/
  .footer {
  padding-top: 50px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  }
  /* END FOOTER */

